:root {
    --primary-color: #0b3954;
    --secondary-color: #ff6663;
    --content-background-color: #bfd7ea;

    --sidebar-text-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    padding: 0.3rem;
}

.content {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: var(--primary-color);

    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
    justify-items: flex-start;
    align-items: center;

    padding: 1.5rem;
}

.sidebar-header {
    color: var(--sidebar-text-color);
    font-size: 2rem;
    padding: 0.3rem;
}

.sidebar ul {
    color: var(--sidebar-text-color);
    font-size: 1.5rem;
}

.sidebar-nav {
    grid-row: 2 / 3;  
}

.sidebar-settings {
    grid-row: 3 / -1;
    align-self: flex-start;
    padding-top: 1.5rem;
}


.header {
    grid-column: 2 / -1;
    background-color: var(--secondary-color);
}

.main-content {
    grid-area: 2 / 2 / -1 / -1;
    background-color: var(--content-background-color);

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.main-content > * {
    margin: 1rem;
    background-color: var(--secondary-color);
}

.projects {
    grid-row: 1 / -1;
}

.announcements {
    grid-row: 1 / 2;
}

.trending {
    grid-row: 2 / -1;
}